
$_color-shade-black: #000;
$_color-shade-black1: #1a1a1a;
$_color-shade-white: #fff;

$_color-primary: #5c9837;
$_color-secondary: #79c84b;

$_color-link: #5c9837;
$_color-link-hover: #79c84b;
$_color-link-hover2: #096a77;

$_color-docks: #063f46;
$_color-docks-inner: #022226;

$_color-shadow: rgba(0,0,0,0.3);
$_color-comment-box: #eff1f3;